<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vex.vextracker">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CoinBitApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        tools:replace="android:supportsRtl"
        android:theme="@style/AppTheme">
        <activity android:name=".features.launch.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="open"
                    android:scheme="coinhood" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".features.HomeActivity"
            android:launchMode="singleTop" />
        <activity
            android:name="com.blockchain.vex.features.coindetails.CoinDetailsPagerActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".features.HomeActivity" />
        <activity
            android:name="com.blockchain.vex.features.newslist.NewsListActivity"
            android:parentActivityName="com.blockchain.vex.features.coindetails.CoinDetailsPagerActivity" />
        <activity
            android:name="com.blockchain.vex.features.transaction.CoinTransactionActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.blockchain.vex.features.exchangesearch.ExchangeSearchActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.blockchain.vex.features.pairsearch.PairSearchActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.blockchain.vex.features.coinsearch.CoinSearchActivity"
            android:label="@string/search_coin"
            android:parentActivityName=".features.HomeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.blockchain.vex.features.coindetails.CoinDetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.blockchain.vex.features.coinsearch.CoinSearchActivity" />

        <activity
            android:name="com.blockchain.vex.features.ticker.CoinTickerActivity"
            android:parentActivityName="com.blockchain.vex.features.coindetails.CoinDetailsPagerActivity" />

    </application>

</manifest>